<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sea.lattice" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_lattice" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.record.RecordActivity"
            android:label="@string/str_record">

        </activity>

        <activity
            android:name=".ui.BehaviorActivity"
            android:label="@string/str_behavior" >

        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".ui.StatisticActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="统计" >

        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/login_success" >

        </activity>
        <activity
            android:name=".ui.template.TemplateActivity"
            android:label="选择模板">

        </activity>

        <provider
            android:authorities="com.sea.lattice.Behavior"
            android:name=".content.BehaviorProvider"/>

        <provider
            android:authorities="com.sea.lattice.Directory"
            android:name=".content.DirectoryProvider"/>

        <provider
            android:authorities="com.sea.lattice.Template"
            android:name=".content.TemplateProvider"/>
    </application>

</manifest>
